/* App.js */
.AppContailer{
    padding: 30px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    overflow: hidden;
}

/* Nav bar */
.Nav {
    height: 50px;
    width: 100%;
    background-color: #aa4141;
    transition: .5s ease;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLinkTitle{
    margin-left: 5px;
    color: rgb(3, 3, 3);
    margin-bottom: 20px;
}
.Nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.Nav a:hover {
    text-decoration: none;
    color: rgb(88, 235, 88);
    transition: .5s ease;
}

.navLinksCnt {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 40px;
}

.navLinkCnt {
    padding: 10px;
    margin-left: 0px;
    margin-top: 20px;
}

.navLinkCnt a {
    text-decoration: none;
    color: rgb(79, 182, 182);
}

.navLinkCnt a:hover {
    color: hotpink;
}

    /* -- */

.content {
    /* background-color: #80c4ce; */
    height: auto;
    /* Temprary properties */
    /* margin-left: 150px; */
}

.content h2 {
    padding-left: 20px;
}


/* INTRO */

.introContainer{
    width: 100%;
    height: 50%;
}

.saumyaImage{
    height: 200px;
    border: black solid 2px;
    border-radius: 50%;
}

.SaumyaContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.CandidateContainer h2{
    font-family: 'Prosto One', cursive;
}

.CandidateContainer p{
    width: 500px;
    text-align: justify;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.CredentialContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.CredentialContainer p{
    width: 250px;
}

.CredentialContainer a:hover{
    color: gray;
    animation: bounce 0.5s infinite;
}

@keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

/* Contact me component */

.ContactParent{
    padding: 5px;
    /* background-color: yellow; */
    /* font-family: 'Prosto One', cursive; */
    /* margin-top: 10px; */
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* position: absolute; */
    /* bottom: 10px; */
    height: 450px;
    align-items: center;
}

.contactContainer{
    /* background-color: green; */
    padding: 10px;
    border: 2px solid transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-image: linear-gradient(to right, green, teal) 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 50%;
}

    /* Messagebox */
.contactContainer textarea{
    height: 100px;
}

    /* Button */
.buttonHolder{
    display: flex;
    justify-content: center;
}


/* Projects */

.ProjectContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.ProjectCard{
    border: 1px solid;
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.ProjectCard > img {
    width: 100%;
    height: 150px;
}

.ProjectCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ProjectCardSpan{
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
}

.ProjectCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.ProjectCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
}

.ProjectCard:hover {
    color: rgb(60, 63, 250);
    box-shadow: 0 0 5px rgba(68, 60, 60, 0.26);
  
    transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
    .ProjectCard > p {
      font-size: 1.7vmax;
    }
  
    .ProjectCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .ProjectCard > span {
      font-size: 1.5vmax;
    }
  
    .ProjectCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
}

    /* Project container after opening */
/* @import url('https://fonts.googlepis.com/css2?family=Poppins:wght@200;400;700&display=swap'); */
.OpenedProjectContainer{
    width: 100%;
    padding-bottom: 20px;
    /* height: 100px; */
    background-color: green;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    /* overflow-y: scroll; */
}

/* .OpenedProjectContainer > section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
} */
/* 
.OpenedProjectContainer .hidden {
    opacity: 0;
    transition: all 1s;
}

.OpenedProjectContainer .visible {
    opacity: 1;
    transition: all 1s;
} */

.box{
    width: 100%;
    height: 300px;
    background-color: red;
    margin-top: 600px;
    opacity: 0;
    transition: opacity 0.5s;
    
}

.box > span{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50px;
}

.box > img{
    height: 850px;
    width: 1250px;
    margin-bottom: 10px;
}

.animate{
    opacity: 1;
    animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(500px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}