/* App.js */
.AppContailer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* Nav bar */
.Nav {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    left: 0;
    background-color: #fbfbfb;
    transition: .5s ease;
    /* overflow-x: hidden; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLinkTitle{
    margin-left: 5px;
    color: rgb(3, 3, 3);
    margin-bottom: 20px;
}
.Nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navLinksCnt {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 40px;
}

.navLinkCnt {
    padding: 10px;
    margin-left: 0px;
    margin-top: 20px;
}

.navLinkCnt a {
    text-decoration: none;
    color: cyan;
}

.navLinkCnt a:hover {
    color: hotpink;
}

    /* -- */

.content {
    background-color: #a4f4ff;
    border: yellow solid thin;
    /* margin-left: 150px; */
}

.content h2 {
    padding-left: 20px;
}


/* INTRO */

.introContainer{
    width: 100%;
    height: 50%;
}

.saumyaImage{
    height: 200px;
    border: black solid 2px;
    border-radius: 50%;
}

.SaumyaContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}



/* Contact me component */

.ContactParent{
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 50%;
    grid-area: main;

}

.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

/* Messagebox */
.contactContainer textarea{
    height: 100px;
}

/* Button */
.buttonHolder{
    display: flex;
    justify-content: center;
}