/* App.js */
.AppContailer{
    padding: 30px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    overflow: hidden;
}

/* Loading Animation */
.AppContailer .App-Loader{
    margin-left: 50%;
    margin-top: 25%;
}

/* Nav bar */
.NavContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Nav {
    height: 50px;
    width: 35%;
    background-color: #b4e6a8;
    transition: .5s ease;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 20rem;
    font-weight: bold;
}

.NavLinksCnt .navLinkTitle{
    color: rgb(3, 3, 3);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 110%;
    display: flex;
    justify-content: center;
}

/* .navLinkTitle:hover{
} */


.Nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}
.Nav a:hover {
    text-decoration: none;
    color: rgb(251, 251, 251);
    transition: .5s ease;
    animation: glow 0.5 ;
}

.NavLinksCnt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid black;
    border-radius: 20rem; */
}

.NavLinksCnt:hover {
    animation: glow 0.2 ease both;
}

@keyframes glow {
    0%{}
    100%{
        border: 2px solid black;
        background-color: rgb(21, 78, 24);
        /* color: wheat; */
        transition: .5s ease;
        border-radius: 20rem;
    }
}

/* -Content- */

.content {
    /* background-color: #80c4ce; */
    height: auto;
    /* Temprary properties */
    /* margin-left: 150px; */
}

.content > h2 {
    padding-left: 20px;
}


/* INTRO */

.introContainer{
    width: 100%;
    height: 50%;
}

.saumyaImage{
    height: 200px;
    border: black solid 2px;
    border-radius: 50%;
}

.SaumyaContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.CandidateContainer h2{
    font-family: 'Prosto One', cursive;
}

.CandidateContainer p{
    width: 500px;
    text-align: justify;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.CredentialContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.CredentialContainer p{
    width: 250px;
}

.CredentialContainer a:hover{
    color: gray;
    animation: bounce 0.5s infinite;
}

@keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

/* Contact me component */

.ContactParent{
    padding: 5px;
    /* background-color: yellow; */
    /* font-family: 'Prosto One', cursive; */
    /* margin-top: 10px; */
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* position: absolute; */
    /* bottom: 10px; */
    height: 450px;
    align-items: center;
}

.contactContainer{
    /* background-color: green; */
    padding: 10px;
    border: 2px solid transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-image: linear-gradient(to right, green, teal) 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 50%;
}

    /* Messagebox */
.contactContainer textarea{
    height: 100px;
}

    /* Button */
.buttonHolder{
    display: flex;
    justify-content: center;
}


/* Projects */

.ProjectContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

/* Loading animation */
.ProjectContainer .Loader{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    /* align-items: center; */
}

.ProjectCard{
    border: 1px solid;
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.ProjectCard > img {
    width: 100%;
    height: 150px;
}

.ProjectCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ProjectCardSpan{
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
}

.ProjectCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.ProjectCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
}

.ProjectCard:hover {
    color: rgb(60, 63, 250);
    box-shadow: 0 0 5px rgba(68, 60, 60, 0.26);
  
    transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
    .ProjectCard > p {
      font-size: 1.7vmax;
    }
  
    .ProjectCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .ProjectCard > span {
      font-size: 1.5vmax;
    }
  
    .ProjectCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
}

    /* Project container after opening */
/* @import url('https://fonts.googlepis.com/css2?family=Poppins:wght@200;400;700&display=swap'); */
.OpenedProjectContainer{
    width: 100%;
    padding-bottom: 20px;
    /* height: 100px; */
    /* background-color: green; */
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    /* overflow-y: scroll; */
}

.OpenedProjectContainer > a{
    color: black;
}
/* 
.OpenedProjectContainer .hidden {
    opacity: 0;
    transition: all 1s;
}

.OpenedProjectContainer .visible {
    opacity: 1;
    transition: all 1s;
} */

.OpenedProjectContainer:nth-child(2){
    transition-delay: 2000ms;
}

.box{
    width: 100%;
    height: 850px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-top: 100px; */
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

.box > span{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50px;
}

.box > img{
    height: 850px;
    width: 1250px;
    margin-bottom: 10px;
}

.box > p {
    font-size: 18px;
    width: 31rem;
    font-family: Arial, sans-serif;
    /* font-size: 16px; */
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    margin: 1vmax 0.5vmax;
    margin-left: 10px;
}

.animate{
    opacity: 1;
    animation: fade-in 1s ease-in forwards;
}

.animate > span {
    animation: fade-in 2s ease-out both;
}

.animate > p{
    animation: fade-in 2s ease-out both;
}

.RoleHolder > h3{
    width: 30rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    /* margin: 1vmax 0.5vmax; */
    margin-right: 10px;
}

.TechnologyHoldet > h3{
    width: 30rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    /* margin: 1vmax 0.5vmax; */
    margin-right: 10px;
}

.CompanyHolder > span{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50px;
}

.DateHolder > span{
    font-size: 39px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40px;
}

.RoleHolder > span{
    font-size: 39px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50px;
}

.TechnologyHoldet > span{
    font-size: 39px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50px;
}

.box .CompanyHolder{
    display: flex;
    flex-direction: column;
}

.box .DateHolder{
    display: flex;
    flex-direction: column;
}

.box .RoleHolder{
    display: flex;
    flex-direction: column;
}
.box .TechnologyHoldet{
    display: flex;
    flex-direction: column;
}

.animate .CompanyHolder{
    animation: fade-in 2s ease-out both;
}

.animate .DateHolder{
    animation: fade-in 2s ease-out both;
}

.animate .RoleHolder{
    animation: fade-in 2s ease-out both;
}

.animate .TechnologyHoldet{
    animation: fade-in 2s ease-out both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(500px);
        transition: all 2s;
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

/* IT Skills */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Merriweather:ital,wght@0,900;1,300&family=Oswald:wght@300&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.IT-daddy{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
}

.IT-daddy h2{
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.IT-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.IT-Card{
    background-color: rgb(69, 236, 125);
    padding: 15px;
    width: 35rem;
    height: 12rem;
    margin: 10px;
    border-radius: 30px;
}

.IT-Card > h3{
    font-family: 'PT Serif', serif;
}

.IT-Card h4{
    font-family: 'Oswald', sans-serif;
}

.Progress{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Progress > i {
    color: #2bb717;
    margin: 10px;
}

.Progress-bar{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #e6e6e6;
    margin-bottom: 10px;
}

.Progress-bar-fill{
    height: 100%;
    border-radius: 10px;
    background-color: #2ecc71;
    transition: width 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.IT-Card:hover{
    box-shadow: 0 0 5px rgba(68, 60, 60, 0.26);
    animation:  bounce 0.6s ease-in both;
}

/* Other-Skills */
